{
  "files.associations": {
    "*.md": "markdown"
  },
  "yaml.validate": false,
  "yaml.format.enable": true,
  "[markdown]": {
    "files.trimTrailingWhitespace": true
  },
  "notebook.cellToolbarLocation": {
    "default": "right"
  }
}
